body {
    background-color: lightblue;
    color: #fff;
    font-family: "Courier New", monospace;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h3 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 400;
    color: #000;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(50, 50, 53, 0.228);
    color: #000;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
  }
  
  .button:hover {
    background-color: #00ffff5d;
  }
  
  
  .input {
    display: block;
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    background-color:lightcyan  ;
    color: #fff;
    border: none;
    border-radius: 5px;
  }
  
  .select {
    display: block;
    width: 40%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: lightcyan;
    color: #333;
    border: none;
    border-radius: 5px;
  }
  
  .option {
    background-color: #333;
    color: #fff;
  
  }
  .option:hover {
    background-color: #00ffff;
  }
  .container1 {
    display: flex;
  }
  